{
    "PACKAGE": "org.airsoft.navigation",
    "NAME": "AirsoftNavTeam",
    "MODE": "development",
    "ENVIRONMENT": "development",
    "THEME": "airsoft-nav",
    "APP_URL": "https://dev.newton-technology.ru",
    "APP_API": "/api/2.121.0/",
    "STATIC_URL": "https://dev.newton-technology.ru",

    "APP_MIN_VERSION_ANDROID": "",
    "APP_MIN_VERSION_IOS": "",

    "UNIVERSAL_LINKS_DOMAINS": ["dev.tezis.io"],
    "APP_LINKS_DOMAIN": ["dev.tezis.io"],
    "APP_VARIANT": "airsoftnavteam",

    "NEWTON_AUTH_URL": "https://dev-keycloak.newton-technology.ru",
    "NEWTON_AUTH_CLIENT_ID": "mobile",
    "NEWTON_AUTH_REALM": "main",
    "NEWTON_AUTH_SERVICE_REALM": "service",

    "INFO_EMAIL": "help@aersoft.com",

    "SOCKETIO_ROOT_URL": "https://dev.newton-technology.ru",

    "SENTRY_MOBILE_DSN": "https://cb39dc28e66d833fa1f5bcbc4ee74a4b@infra-sentry.local.newton-technology.ru/3",
    "SENTRY_URL": "https://infra-sentry.local.newton-technology.ru",
    "SENTRY_PROJECT_NAME": "mobile",
    "SENTRY_ORG_NAME": "nwtn",
    "SENTRY_ENABLE_NATIVE": true,

    "APPLE_APP_ID": "id0000000000",
    "APPS_FLYER_DEV_KEY": "",

    "ORDER_BOOK_RATE_LIMIT": 0,
    "RESTRICTED_PINS": "",
    "PIN_LENGTH": 4,

    "APP_METRICA_API_KEY": "60c7ce0c-8ab8-4b7c-8e9f-89d32f7d70af",

    "OPEN_ENDED_ANSWER_LENGTH": 500,

    "EDNA_BASE_URL": "https://dev-edna.local.newton-technology.ru",
    "EDNA_SOCKET_URL": "wss://dev-edna.local.newton-technology.ru/socket",
    "EDNA_PROVIDER_UID_IOS": "16aff12640bcad47fd9abc08d36cbd8a",
    "EDNA_PROVIDER_UID_ANDROID": "26aff12640bcad47fd9abc08d36cbd8a",
    "EDNA_DATA_STORE_URL_ANDROID": "https://dev-edna.local.newton-technology.ru",
    "EDNA_DATA_STORE_URL_IOS": "https://dev-edna.local.newton-technology.ru/files",
    "EDNA_LOGGING_ENABLED": false,

    "APP_ASC": false,

    "FEATURE_MIDDLE_LAYER_CHARTS_ENABLED": false,
    "FEATURE_FLAG_NEW_GRAPH": false,

    "NON_GRATA_USER_IDS": [],

    "AUTH_TYPE": "newton",
    "CHAT_TYPE": "edna"
}
